<a href="https://colab.research.google.com/github/Keishan1/pythoncodes/blob/main/Country_Pollution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <center>Keishan martin </center>
#<h4 align="center">December 20, 2021</h3> 
#<h4 align="center">Explanation: *Pollution By country* </h3> 
___

In [1]:
#Import all the necessary libraries 
import requests
from bs4 import BeautifulSoup

import numpy as np

import pandas as pd

In [2]:
#Website being scraped, and making request to
URL = 'https://www.iqair.com/world-most-polluted-countries'
page = requests.get(URL)

soup = BeautifulSoup(page.content, 'html.parser')

In [3]:
#List each data will be appened to
Rank = []
Country_Region = []
AVG_2020 = []
AVG_2019 = []
AVG_2018 = []
Population_2021 = []

#find the table
table = soup.find('table')

#for each row in table find all the tr tags and then all the td tags within them 
#and if the length if the table has 6 columns 
for row in table.find_all('tr'):
  cells = row.findAll('td')
  if(len(cells) == 6):
    
    #append to the Rank list if the td tag was in the 1st column
    Rank.append(cells[0].get_text())
    
    #append to the Country list if the td tag was in the 2nd column
    Country_Region.append(cells[1].get_text())
    
    #append to the Avg_2020 list if the td tag was in the 3rd column,
    #and turn it into  float
    AVG_2020.append(float(cells[2].get_text()))
    
    #In the 4th colomn in the table append all the nan/ blank cells
    #this way I can use the float method on the non blank cells 
    if len(cells[3].get_text()) == 3:
      AVG_2019.append(np.nan)
    else:
      AVG_2019.append(float(cells[3].get_text()))

    #In the 5th colomn in the table append all the nan/ blank cells
    #this way I can use the float method on the non blank cells 
    if len(cells[4].get_text()) == 3:
      AVG_2018.append(np.nan)
    else:
      AVG_2018.append(float(cells[4].get_text()))

    #In the 6th column in the table append all the cells and then 
    #remove the commas from the cells so I can turn the string intan int
    Pop = (cells[5].get_text())
    Pop2 = Pop.replace(',','')
    Population_2021.append(int(Pop2))

In [4]:
#To create the data frame
df = pd.DataFrame()

#To name each column and state the list the column will get its numbers from 
df["Rank"] = Rank
df["Country Region"] = Country_Region
df["AVG 2020"] = AVG_2020
df["AVG 2019"] = AVG_2019
df["AVG 2018"] = AVG_2018
df["Population 2021"] = Population_2021

In [5]:
df

      Rank         Country Region  ...  AVG 2018  Population 2021
0       1             Bangladesh   ...      97.1        164689383
1       2               Pakistan   ...      74.3        220892331
2       3                  India   ...      72.5       1380004385
3       4               Mongolia   ...      58.5          3278292
4       5            Afghanistan   ...      61.8         38928341
..     ...                    ...  ...       ...              ...
101   102                Finland   ...       6.6          5540718
102   103                 Sweden   ...       7.4         10099270
103   104    U.S. Virgin Islands   ...       NaN           104423
104   105          New Caledonia   ...       NaN           285491
105   106            Puerto Rico   ...      13.7          2860840

[106 rows x 6 columns]

In [6]:
#generates a csv file, with data
df.to_csv('Country_Pollution.csv')

In [7]:
#formatting of the integers in dataset
pd.set_option('display.float_format', lambda x: '%.2f' % x)

#generate statistical data 
df.describe()

       AVG 2020  AVG 2019  AVG 2018  Population 2021
count    106.00     92.00     72.00           106.00
mean      19.80     21.81     24.63      62655436.42
std       12.93     14.59     18.38     196083062.27
min        3.70      3.50      5.00         77265.00
25%       10.43     10.97     11.93       4976875.50
50%       16.90     19.25     18.60      16731450.50
75%       24.75     24.43     29.95      45604694.25
max       77.10     83.30     97.10    1439323774.00